<!DOCTYPE html>
<html>
<head>
    <title>Delivery Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-color: #f4f6f9;
        }
        .order-card {
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        }
        .map-box {
            height: 200px;
            background: #e9ecef;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }
    </style>
</head>

<body>
<div class="container mt-4">
    <h2 class="mb-4"> Delivery Partner Dashboard</h2>

    {% for order in orders  %}
    <div class="card order-card mb-4">
        <div class="card-body">
            <h5>Order #{{ order.id }}</h5>

            <p><strong>Restaurant:</strong> {{ order.restaurant }}</p>
            <p><strong>Customer:</strong> {{ order.customer }}</p>
            <p><strong>Delivery Address:</strong> {{ order.address }}</p>
            <p class=" position-absolute top-7 start-100 translate-middle badge rounded-pill bg-danger "> <strong> Payment:</strong> <b>{{order.payment_type}}</b></p>
            <p><strong>Order Amount:</strong> ₹{{ order.amount }}</p>

            <!-- Map Placeholder -->
            <div class="map-box mb-3">
                📍 Location: {{ order.lat }}, {{ order.lng }}
            </div>

            <div class="d-flex gap-3">
               <a target="_blank"
href="https://www.google.com/maps/dir/{{restaurant.latitude}},{{restaurant.longitude}}/{{order.latitude}},{{order.longitude}}">

<button class="btn btn-success">

🗺 Open Route in Google Maps

</button>

</a>
                <button class="btn btn-danger w-50">Reject</button>
            </div>
        </div>
    </div>
    {% empty %}
        <p>No new orders available.</p>
    {% endfor %}
</div>
</body>
</html>
