{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body p-4">

          <h3 class="text-center mb-4 text-success fw-bold">
            Create FoodRanger Account
          </h3>

          <form method="post">
            {% csrf_token %}

            <!-- Phone -->
            <input class="form-control mb-3"
                   type="tel"
                   name="phone"
                   placeholder="📞 Enter Phone Number"
                   required>

            <!-- Username -->
            <input class="form-control mb-3"
                   type="text"
                   name="username"
                   placeholder="👤 Enter Your Name"
                   required>

            <!-- Password -->
            <input class="form-control mb-3"
                   type="password"
                   name="password"
                   placeholder="🔒 Password"
                   required>

            <!-- Address -->
            <input class="form-control mb-3"
                   type="text"
                   name="address"
                   placeholder="🏠 Current Address">

            <button type="button"  class="btn btn-outline-danger w-100 mb-3"> 📍 Use Current Location </button>

            <!-- Pincode -->
            <input class="form-control mb-3"
                   type="text"
                   name="pincode"
                   maxlength="6"
                   placeholder="📍 Pincode">

            <!-- Role Selection -->
            <label class="fw-semibold mb-2">Select Account Type:</label>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="role" value="customer" checked>
              <label class="form-check-label">Customer</label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="role" value="restaurant">
              <label class="form-check-label">Restaurant Owner</label>
            </div>

            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" name="role" value="rider">
              <label class="form-check-label">Delivery Partner</label>
            </div>

            <!-- Submit -->
            <button class="btn btn-success w-100 rounded-3 fw-semibold">
              Register
            </button>

          </form>

          <!-- Login link -->
          <p class="text-center mt-3">
            Already have an account?
            <a href="{% url 'login' %}" class="text-decoration-none fw-semibold text-success">
              Login
            </a>
          </p>

        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
